@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

// SCSS Variables
$colors: (main: #344B52, main-medium: #718186, main-light: #ccd2d4, main-white: #efefef, main-black: #232323, accent: #d4d0af, accent-light: #eeecdf, warning: #ee6962);

// General style
* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  margin:0;
}

.form-container {
  width: 400px;
  height: auto;
}

main {
  display: flex;
  height: 85vh;
}

footer {
  height: 5%;
  background-color: map-get($colors, main-black);
  color: map-get($colors, main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  a {
    text-decoration: none;
    color: map-get($colors, main-white);

    &:hover {
      text-decoration: underline;
    }
  }
}

.note {
  font-style: italic;
}

input[type="color"] {
  width: 30px;
  height: 30px;
  border-color: map-get($colors, main);
  border-radius: 5px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

// Modals
.backdrop {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #7181869d;
  z-index: 2;
}

.add-task__modal {
  display: none;
  background-color: map-get($colors, main-light);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  border: 4px solid map-get($colors, main);
  border-radius: 5px;
  z-index: 3;

  h2 {
    color: map-get($colors, main-black);
    text-align: center;
    margin: 0 0 16px 0;
  }
}

.remove-tasklist__modal {
  display: none;
  text-align: center;
  background-color: map-get($colors, accent-light);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  border: 4px solid map-get($colors, warning);
  border-radius: 5px;
  z-index: 3;

  h2 {
    color: map-get($colors, warning);
    text-align: center;
    margin: 0 0 16px 0;
  }

  div {
    font-size: 1.2rem;
  }

  button {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 16px 16px 0 16px;
  }

  .remove-confirm__button {
    background-color: map-get($colors, warning);
    border: 2px solid map-get($colors, warning);
    color: map-get($colors, main-white);

    &:hover {
      background-color: map-get($colors, main-white);
      color: map-get($colors, warning);
      border: 2px solid map-get($colors, warning);
    }
  }

  .remove-cancel__button {
    color: map-get($colors, main-medium);
    border: 2px solid map-get($colors, main-medium);
  }
}

.edit-task__modal {
  display: none;
}


// Forms
#add-task_form {
  display: flex;
  display: flex;
  flex-direction: column;

  .input-group {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
  }

  textarea {
    resize: vertical;
    max-height:33vh;
  }

  input[type="submit"] {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background-color: map-get($colors, accent);
    padding: 8px;
    margin: auto;
    margin-top: 16px;
    border: 3px solid map-get($colors, main);
    border-radius: 10px;
    color: map-get($colors, main-black);

    &:hover {
      background-color: map-get($colors, main);
      color: map-get($colors, main-white);
      cursor: pointer;
    }
  
    &:active {
      transform: translateY(2px);
    }
  }
}

// Header
header {
  display: flex;
  height: 10vh;
  background-color: map-get($colors, main);
}

.logo__container {
  width: 15%;
  display: flex;
  align-items: center;
  cursor: default;
  
  a {
    text-decoration: none;
  }

  h1 {
  font-family: 'Gamja Flower';
  margin: 0 0 0 20px;
  font-size: 3.5rem;
  color: map-get($colors, main-white);
  }
}

.header__container {
  width: 85%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 32px;
  padding-right: 20px;

  a {
    color: map-get($colors, main-white);
    text-decoration: none;
  }
}

.user-guide__button {
  font-weight: 700;
  font-size: 1rem;
  background-color: map-get($colors, main-white);
  color: map-get($colors, main);
  border: none;
  border-radius: 3px;
  padding: 8px;

  &:hover,
  &:active {
    background-color: map-get($colors, main);
    border: 1px solid map-get($colors, main-white);
    color: map-get($colors, main-white);
    box-shadow: 2px 2px 5px #2323237d;
    cursor: pointer;
  }
}

// Sidebar style
.sidebar-icon {
  height: 1rem;
}

.sidebar__container {
  width: 300px;
  padding: 20px;
  background-color: map-get($colors, main-medium);
  color: map-get($colors, main-white);
  overflow-y: scroll;
}

.new-task__button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  background-color: map-get($colors, accent);
  padding: 0.5rem;
  margin-bottom: 24px;
  border: 3px solid map-get($colors, main);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #23232377;

  &:hover {
    background-color: map-get($colors, main);
    color: map-get($colors, main-white);
    border-color: map-get($colors, accent-light);
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
  }
}

.sidebar__tasklist-color {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  vertical-align: up;
  margin-left: 8px;
}

.sidebar-category {
  margin-bottom: 32px;

  h2 {
    font-weight: 700;
    font-size: 1rem;
    margin: 0 0 8px 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  ul {
    margin: 0 0 0 8px;
    padding: 0;
    list-style-type: none;
  }
}

.deadline-category__container li {
  cursor: pointer;
}

.sidebar-tasklist {
  margin-bottom: 8px;
  border-radius: 5px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:active {
    background-color: #ccd2d479;
    cursor: pointer;
  }
}

.tasklist-subtasks {
  color: #cccccc;
  font-size: 0.9rem;
  font-style: italic;
  
  /*li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }*/
}

// Main content style
.content__container {
  background-color: map-get($colors, main-white);
  color: map-get($colors, main-black);
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.content__tasklist-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content__tasklist-title {
  font-size: 1.5rem;
  margin: 10px 0;
  margin-right: 8px;
}

.content__tasklist-description {
  color: #aaaaaa;
  border-left: 3px solid #aaaaaa;
  padding-left: 8px;
  margin-bottom:24px;
}

.edit-tasklist__button,
.edit-single-task__button {
  background-image: url('./images/edit-icon.svg');
  height: 20px;
  width: 20px;

  &:hover {
    cursor: pointer;
  }
}

.remove-tasklist__button,
.remove-single-task__button {
  background-image: url('./images/remove-icon.svg');
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 5px;

  &:hover {
    background-color: map-get($colors, warning);
    cursor: pointer;
  }
}

.data_legends {
  color: #aaaaaa;
  display: grid;
  grid-template-columns: 28px 6fr 2fr 1fr 50px;
  align-items: center;
  font-size: 0.9rem;

  :not(:nth-child(2)) {
    justify-self: center;
  }
}

.label-deadline:hover,
.label-priority:hover {
  cursor: pointer;
}

.single-task__container {
  margin: 16px 0;
  border-bottom: 1px solid #aaaaaa;

  &:hover,
  &:active {
    background-color: map-get($colors, accent-light);
  }
}

.single-task__datas {
  display: grid;
  grid-template-columns: 20px 6fr 2fr 1fr 50px;
  align-items: center;

  h3 {
    margin: 0;
    margin-left: 8px;
    word-break: break-all
  }

  input[type="checkbox"] {
    margin: 0;
    height: 15px;
    justify-self: start;
    background-color: red;
  }

  :not(:nth-child(2)) {
    justify-self: center;
  }
}

.single-task__description {
  color: #aaaaaa;
  width: 60%;
  font-size: 0.8rem;
  font-style: italic;
  border-left: 3px solid #aaaaaa;
  padding-left: 8px;
  margin: 8px 0;
}

.single-task__deadline {
  color: #aaaaaa;
  text-align: center;
}

.time-to-deadline {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.filtered-task-data_legends {
  color: #aaaaaa;
  display: grid;
  grid-template-columns: 20px 1fr 200px 50px;
  align-items: center;
  font-size: 0.9rem;

  :nth-child(3),
  :nth-child(4) {
    justify-self: center;
  }
}

.filtered-task__datas {
  display: grid;
  grid-template-columns: 20px fit-content(30%) 1fr 200px 50px;
  align-items: center;

  input[type="checkbox"] {
    margin: 0;
    height: 15px;
    justify-self: start;
  }

  h3 {
    font-size: 1rem;
    margin: 8px 0;
  }

  .filtered-task__title {
    margin-left: 8px;
  }

  :nth-child(4),
  :nth-child(5) {
    justify-self: center;
  }
}

// USER GUIDE PAGE
.user-guide__background {
  background-color: map-get($colors, main-white);
  padding: 50px;
  height: 120%;
}

.tutorial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  h2 {
    align-self: center;
    width: clamp(300px, 600px, 60%);
    font-family: 'Gamja Flower';
    font-size: 2rem;
    text-align: center;
    margin: 0;
    background-color: map-get($colors, main);
    color: map-get($colors, main-white);
    border-radius: 5px;

    .logo {
      font-family: 'Gamja Flower';
      font-size: 3rem;
      vertical-align: baseline;
    }
  }
}

.tagline {
  color: map-get($colors, main);
  font-size: 1.2rem;
}

.tutorial-item {
  background-color: map-get($colors, main-light);
  width: 70%;
  padding: 20px;
  border-radius: 5px;

  h3 {
    margin-top: 0;
    color: map-get($colors, main);
  }

  p {
    color: map-get($colors, main-black);
    margin: 8px 0;
  }
}

// Custom scrollbars
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}